.*
*.txt
*.pyc
*.bin
*.json
swivel_data/

paret_density_getMinCut_getRandomContractionsMinCut_nodropout\.png

paret_density_getMinCut_getRandomContractionsMinCut_usedropout\.png

paret_density_getMinCut_usedropout\.png

paret_density_getMinCutProb_getRandomContractionsMinCut_usedropout\.png

paret_density_single_cutter\.png

perfomance_vs_time_getMinCut_getRandomContractionsMinCut_nodropout\.png

perfomance_vs_time_getMinCut_getRandomContractionsMinCut_usedropout\.png

perfomance_vs_time_getMinCutProb_getRandomContractionsMinCut_usedropout\.png

perfomance_vs_time_single_cutter\.png

sentiment_swivel\.clf

sentiment\.clf

swivel/analogy\.cc

swivel/distributed\.sh

swivel/eval\.mk

swivel/fastprep\.cc

swivel/fastprep\.mk

swivel/glove_to_shards\.py

swivel/nearest\.py

swivel/prep\.py

swivel/README\.md

swivel/swivel\.py

swivel/text2bin\.py

swivel/vecs\.old\.py

swivel/vecs\.py

swivel/wordsim\.py

wordstat_dense\.pkl

wordstat_krn_compr

wordstat_krn_compr\.dict

yandex_topic_tags\.dict

yandex_topic\.clf

yandex_topic\.dict
